.container {
    height: 50px;
    width:50px;
    display: inline-block;
    margin: 0 20px 30px 20px;
    padding:10px;
    border-radius: 50%;
    cursor: pointer;
}
.container img {
    -webkit-filter: invert(1);
    filter: invert(1);
 
}