.Main {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Gisha;
  overflow-y:hidden;
}

.Main-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Main-title {
  font-size: 1.5em;
}

.Main-intro {
  font-size: large;
}

