.container {
    background-color:#f4f4f4;
    height:100%;
}
.flexContainer {
    display:inline-flex;
    align-items: center;
}

.text {
    padding:10px 50px;
    max-width: 40%;
}
.text p {
    color:#707070;
    font-size:18px;
    font-weight: 100;
    line-height: 1.5em;
}