.banner {
    background-color:#8C43FF;
    text-align: center;
    padding: 45px 15px;
    padding-bottom:0;
}
.banner p {
    font-size:18px;
}
.banner > p{
    color:#efefef;
    font-family: Gisha;
    font-weight: 100;
    max-width: 900px;
    
    display: inline-block;
}

.downloadButton {
    background: transparent;
    height:65px;
    width:300px;
    border: 2px solid white;
    color:white;
    font-size:20px;
    transition:0.2s;
    border-radius: 45px;
    margin-bottom:25px;
    background:white;
    color:#8C43FF;
    cursor:pointer;
}

.downloadButton:hover {
    background:#8C43FF;
    color:white;
}

.flexHexagon {
    display: flex;
    max-width:1600px;
    display: inline-block;
}