.cardList {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top:1%;
    flex-wrap: wrap;

}
.container {
    text-align: center;
}
.parallax {
    margin:0
}