.hexagon {
  width: 106px;
  height: 93px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.hexagon img {
  width: 50px;
}

.container {
  align-items: center;
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
/*pc*/
@media only screen and (min-width: 800px) {
  .container {
    width: 190px;
  }
  .text {
    max-width: 180px;
  }
}
/*phone*/
@media only screen and (max-width: 800px) {
  .container {
    width: 160px;
  }
  .text {
    max-width: 150px;
  }
}

.text {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.text p {
  color: white;
  font-size: 16px;
}
.titleContainer {
  flex-basis: 100%;
  color: white;
  font-weight: 100;
  max-width: 200px;
}
.titleContainer p {
  font-size: 22px;
  font-family: Gisha;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 10px;
}
