/* .row img {
    width:100px;
}
 */
 .hobby {
    
    display: inline-block;
    width:135px;
    margin:0 30px 30px 30px;
}
.hobby > p {
    margin:0;
    font-weight: 800;
}
.hobby > img{
    width:100px;
    height:100px;
    position: relative;
}

